 table{
     border-collapse: collapse;
     width: 450px;
 }
 td,th{
    width: 33.3%;
     border: 1px solid black;
 }
 tr:nth-child(2n){
     background: lightgrey;
 }
 tr:nth-child(2n+1){
     background: aliceblue;
 }
 tr:nth-child(1){
     background: lightskyblue;
     border: 1px solid black;
 }